.preloader {
  height: 100vh;
  width: 100%;
  background: #0E1016;
  color: #e4ded7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 500px;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  color: #e4ded7;
  gap: 10px;
}
