@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -450%;
  }
}
.animate {
  animation: marquee 20s linear infinite;
  transform: translate(0, -50%);
}

.animate:hover {
  animation-play-state: paused;
}

@screen sm {
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -320%;
    }
  }
  .animate {
    animation: marquee 30s linear infinite;
    transform: translate(0, -50%);
  }
}

@screen md {
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -355%;
    }
  }
  .animate {
    animation: marquee 40s linear infinite;
    transform: translate(0, -50%);
  }
}

@screen lg {
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -200%;
    }
  }
  .animate {
    animation: marquee 50s linear infinite;
    transform: translate(0, -50%);
  }
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate:hover {
  animation-play-state: paused;
}

.heartbeat {
  animation: beat .3s infinite alternate;
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1.02); }
}

.heartbeat:hover {
  animation-play-state: paused;
}

